<div class="center jumbotron" style="margin-top:50px;">
  <h1>Welcome to My Gym Connect</h1>

  <%= link_to "Sign up as user!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <br />
  <br />
  <%= link_to "Sign up as Gym Owner", new_user_registration_path(user_type: "gymManager"), class: "btn btn-lg btn-primary" %>

</div>
