<h1>Welcome to your gyms page</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <td><%= gym.name %></td>
        <td><%= link_to 'Show', gym %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Gym', new_user_gym_path(current_user)%>

<br>
