@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "simple-line-icons";
@import "new-age";

.alert-info{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


h1{
  font-family:Lato;
  font-weight:300;
  font-size:30px;

  strong{
    font-weight: 400;
  }
}
